<!DOCTYPE html>
<html>
<head>
	<title>Error Page</title>
    <link rel="stylesheet" href="css/style.css"; 
</head>
<body>
    {{>header}}
 	<h1>Error Page</h1>
 
     <h2>OPSS!!!!!!</h2>
         {{errormsg}}
         {{>footer}}
</body>
</html>