<!DOCTYPE html>
<html>
<head>
	<title>This is Hello World page</title>
    <link rel="stylesheet" href="css/style.css"; 
</head>
<body>
    {{>header}}
 	<h1>Hello World</h1>
     <h2>good morning!!!!!{{name}} </h2>
     {{>footer}}
</body>
</html>