<!DOCTYPE html>
<html>
<head>
	<title>Error Page</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<h1 style="color: aqua;">THIS IS THE END</h1>
<div class="hello">xgsxhxbjhbcjbhcbjsbxjsxhs</div>
<H3>THANK YOU </H3>
</body>
</html>